.nombre1{
    font-family: 'Courier New', Courier, monospace;
}

.dirección1{
    font-family: 'Courier New', Courier, monospace;
}

.correo1{
    margin-left: 40px;
}

.visita1{
    margin-left: 40px;
}

.gracias{
    font-size: 50px;
    color: blue;
}